python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
python-youtube==0.9.4
gTTS==2.5.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
openai==0.28.0
openai-whisper==20231117
pyttsx3==2.90
SpeechRecognition==3.10.4
streamlit==1.38.0
streamlit-nightly==1.37.2.dev20240826
threadpoolctl==3.2.0
